@import "tailwindcss";

@theme {
  --color-primary: #552523ff;
  --color-primary-active: #796361ff;
  --color-secondary: #6b625bff;
  --color-tertiary: #d9e3fc;
  --color-heading: #0f1c2cff;
  --color-description: #6f6f6f;
  --color-active: #471414ff;
  --color-unactive: #9a9ea6;
  --color-btn2: #ffe6e277;
}

@layer base {
  html {
    @apply overflow-x-clip scroll-smooth;
  }

  body {
    @apply bg-white overflow-x-clip;
    font-family: "inter", sans-serif;
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    src: local("Inter"), url("../fonts/Inter/Inter-Thin.woff2"), format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: local("Inter"), url("../fonts/Inter/Inter-ExtraLight.woff2"), format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: local("Inter"), url("../fonts/Inter/Inter-Light.woff2"), format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local("Inter"), url("../fonts/Inter/Inter-Regular.woff2"), format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: local("Inter"), url("../fonts/Inter/Inter-Medium.woff2"), format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: local("Inter"), url("../fonts/Inter/Inter-SemiBold.woff2"), format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: local("Inter"), url("../fonts/Inter/Inter-Bold.woff2"), format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    src: local("Inter"), url("../fonts/Inter/Inter-ExtraBold.woff2"), format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: local("Inter"), url("../fonts/Inter/Inter-Black.woff2"), format("woff2");
  }

  .container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-10;
  }

  .text-active {
    @apply text-primary !font-bold;
  }

  .tag-line {
    @apply relative w-[85%] pb-2 text-lg font-bold text-heading before:absolute before:-top-3 before:h-2 before:w-[25%] before:rounded-r-md before:bg-primary/30 before:duration-350 before:content-[''] sm:w-[70%] sm:before:w-[18%] md:w-[70%]  md:before:-top-5 lg:w-[80%] lg:text-xl xl:w-[90%]  xl:leading-tight 2xl:text-3xl 2xl:p-0 text-heading 2xl:w-[90%] font-bold;
  }

  .heading-text {
    @apply text-base text-primary/60 font-semibold sm:w-full sm:pb-0 mb-2 sm:mb-0 lg:text-base 2xl:text-xl border-l-4 border-primary/50 pl-3 md:text-xl;
  }

  .description-text {
    @apply min-w-full pt-1 text-sm font-normal leading-6 tracking-wide text-gray-400 sm:pt-2 lg:w-[90%] lg:text-sm xl:pt-4 2xl:text-lg text-pretty 2xl:w-full text-justify lg:pt-0 lg:text-sm;
  }

  .btn-group {
    @apply pt-9 md:pt-11;
  }
}

#navbar {
  @apply fixed left-0 right-0 z-30 w-full py-3 2xl:py-5 duration-350;
}

.nav-wrapper {
  @apply flex justify-between items-center;
}

.navbar-scrolled {
  @apply top-0 z-30 bg-white/30 shadow-md;
}

.nav-hero {
  @apply relative overflow-hidden;
}

.nav-hero::before {
  @apply content-[''] absolute top-0 left-0 w-full min-h-screen z-[-1];
  background: linear-gradient(90deg, #572b2a59 0%, #fffff8ff 99%);
}

.navbar-lg {
  @apply static items-center self-center justify-end hidden h-auto overflow-y-hidden bg-transparent md:block duration-0;
}

.navbar-link {
  @apply relative z-10 my-2 block rounded-md px-3 text-sm font-normal duration-350 group-hover:text-red-50 lg:inline lg:group-hover:text-secondary text-secondary;
}

.wrapper-navbar-link {
  @apply relative mx-3 w-auto border-t border-slate-200 py-[7px] duration-350 before:absolute before:top-0 before:h-full before:w-0 before:bg-primary before:opacity-50  before:duration-350 before:content-[''] hover:before:w-full md:border-none md:before:-bottom-1 md:before:top-auto md:before:h-1;
}

.wrapper-navbar-link .active {
  @apply text-secondary;
}

.navbar-part-lg {
  @apply text-sm lg:text-base 2xl:text-[1.3rem] !text-secondary;
}

/* hamburger */
#hamburger {
  z-index: 999;
}

.hamburger-line {
  @apply my-2 block h-[2px] w-[30px] bg-black transition duration-300 ease-in-out;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}
/* end hamburger */

.logo-brand {
  @apply w-auto h-10 rounded-md 2xl:h-12 drop-shadow-sm;
}

.name-brand {
  @apply ml-3 text-lg font-bold 2xl:text-2xl text-heading;
}

/* hero */
#hero {
  @apply relative md:bg-none;
}

.left-hero-section-wrapper {
  @apply relative self-center w-full sm:w-4/5 md:w-4/5 lg:w-1/2 lg:mt-5;
}

.right-hero-section-wrapper {
  @apply flex justify-end mt-5;
}

.tag-line-hero {
  @apply relative w-[85%] pb-2 text-3xl font-bold text-heading before:absolute before:-top-3 before:h-2 before:w-[25%] before:rounded-r-md before:bg-primary/30 before:duration-350 before:content-[''] sm:w-[70%] sm:before:w-[18%] md:w-[70%] md:text-4xl md:before:-top-5 lg:w-[80%] lg:text-4xl xl:w-[90%] xl:text-5xl xl:leading-tight 2xl:text-6xl;
}

.description-hero {
  @apply w-[100%] pt-1 text-sm leading-6 tracking-wide text-description sm:w-[76%] sm:pt-3 md:w-[75%] md:pt-5 lg:w-[90%] xl:pt-7 xl:text-lg text-justify text-pretty;
}

.btn-hero-1 {
  @apply mr-4 inline-flex h-12 w-38 sm:w-40 items-center rounded-lg  border border-transparent bg-primary  px-4 py-3 text-sm font-semibold text-white shadow-sm shadow-primary duration-350 hover:bg-primary focus:ring-2 focus:ring-primary/50 disabled:pointer-events-none disabled:opacity-50 lg:mr-6 xl:h-14 xl:w-[180px] 2xl:h-16 2xl:w-[200px] drop-shadow-lg cursor-pointer;
}

.btn-2 {
  @apply relative inline-flex h-12 w-36 items-center gap-x-5 rounded-lg bg-btn2 px-4 py-3 text-sm font-semibold text-primary duration-350 disabled:pointer-events-none disabled:opacity-50 xl:h-14 xl:w-[180px] 2xl:h-16 2xl:w-[200px] z-10 drop-shadow-lg;
}

.btn-2::before {
  @apply absolute top-0 left-0 h-full w-0 rounded-md transition-all duration-1000 ease-out z-[-1] content-[''] bg-primary;
}

.btn-2-description {
  @apply mx-auto font-semibold duration-300 xl:text-base 2xl:text-lg group-hover:text-white group-focus:text-white focus:text-white;
}

.btn-2:hover::before,
.btn-2:focus::before {
  width: 100%;
}

.img-hero-tablet {
  @apply hidden sm:block lg:hidden sm:absolute sm:z-0 drop-shadow-xl sm:right-0 sm:bottom-30 w-auto h-48 sm:h-50 md:h-[50%];
}

.img-hero-mobile {
  @apply w-auto h-50 sm:hidden drop-shadow-md;
}

/* end hero */

/* about */

#about {
  @apply min-h-screen overflow-x-clip;
}

.about-wrapper {
  @apply flex flex-col justify-center items-center min-h-screen mb-8  mt-12 py-2 lg:py-4 md:flex-nowrap lg:flex-row lg:flex-row lg:justify-end;
}

.img-about {
  @apply w-[250px] sm:w-[300px] md:w-[330px] lg:w-[550px] 2xl:w-[650px] h-auto drop-shadow-xl;
}

.right-about-section-wrapper {
  @apply w-full h-max self-end flex flex-col justify-end lg:items-end relative sm:self-center pt-12 sm:pt-16 lg:w-[50%];
}

.text-about-wrapper {
  @apply w-full h-auto bg-primary/10 rounded-md p-5 lg:p-7 2xl:p-8 lg:w-[90%] mt-2 lg:mt-4 2xl:mt-12;
}

/* end about */

/* artikel produk */

#articles {
  background: linear-gradient(90deg, #572b2a59 0%, #fffff8ff 99%);
  @apply relative overflow-hidden z-20 bg-center bg-no-repeat bg-cover py-12 min-h-screen md:py-16 lg:py-18 xl:py-20 2xl:py-24;
}

.article-tag-line {
  @apply text-2xl text-heading relative font-bold pb-1 xl:text-3xl 2xl:text-5xl border-l-4 xl:border-l-[5px] 2xl:border-l-8 border-heading/80 pl-3 xl:pl-5 py-1 mt-2 sm:mt-4 md:text-3xl w-max;
}

.article-icon-tag-line {
  @apply text-3xl lg:text-4xl align-top pb-4;
}

.article-sub-tag-line {
  @apply self-end text-xs font-bold tracking-wide uppercase duration-500 border-b-2 h-max w-max md:text-sm xl:text-base text-heading/50 hover:text-heading/80 border-heading/50 hover:border-heading/80;
}

.articles-glider {
  @apply flex flex-row !gap-6 lg:!gap-8;
}

.card-articles {
  @apply relative h-40 w-full cursor-pointer md:h-48 lg:h-[30rem] lg:w-1/3 overflow-hidden rounded-md bg-white shadow-lg xl:h-[34rem] 2xl:h-[50rem];
}

.img-product-wrapper {
  @apply flex w-full h-full flex-col gap-x-2 sm:gap-x-3 gap-0;
}

.img-product-lg {
  @apply min-w-[380px] min-h-[300px] max-h-[270px] 2xl:min-w-[470px] 2xl:min-h-[350px] duration-500 group-hover:scale-110 group-hover:blur-sm group-hover:brightness-75 group-hover:drop-shadow-md;
}

.icon-product-lg {
  @apply absolute text-4xl text-gray-300 duration-500 scale-0 group-hover:scale-100 2xl:text-5xl;
}

.description-product-wrapper {
  @apply flex flex-col bg-white border-t-2 border-none border-primary/50 rounded-md shadow-md shadow-none rounded-none border-primary/80 z-20 relative justify-center group-hover:brightness-[.95] duration-500 px-5  w-full px-4 pt-4 pb-4 px-6;
}
.title-product {
  @apply pb-1 text-base text-left font-bold md:text-lg 2xl:text-2xl text-heading/70 line-clamp-2;
}

.description-product {
  @apply text-xs text-description block md:text-sm lg:mt-2 2xl:text-base line-clamp-2 xl:line-clamp-4 2xl:line-clamp-4;
}

.price-product-wrapper {
  @apply flex items-center justify-between w-full pt-4 lg:pt-5 md:pt-4 2xl:pt-6;
}

.price-product {
  @apply text-base font-bold text-heading md:text-lg 2xl:text-2xl;
}

.gendre-product-wrapper {
  @apply flex flex-col items-start justify-center h-full p-2 pl-2 leading-3 rounded-md md:leading-4 bg-slate-300/50;
}

.gendre-product {
  @apply text-[10px] font-semibold capitalize block leading-3 sm:text-[11px] md:text-[12px] 2xl:text-sm text-slate-500;
}

/* end artikel produk */

/* ChatBot */
.btn-whatsapp:focus,
.btn-whatsapp:hover {
  background-color: #22c55e;
  color: white;
  box-shadow: 0 0 1px #22c55e, 0 0 1px #22c55e, 0 0 2px #22c55e, 0 0 10px #22c55e;
}

/* end ChatBot */

/* footer */
/* footer */
#footer {
  background: linear-gradient(90deg, #572b2a59 0%, #fffff8ff 99%);
}

.link-footer {
  @apply relative pb-2 text-lg text-description/70 duration-350 before:absolute before:bottom-0 before:h-[3px] before:w-0 before:bg-primary/80 before:duration-350 before:content-[''] hover:text-description hover:before:w-full 2xl:text-2xl;
}

.icon-wrapper {
  @apply text-active flex h-12  w-12 cursor-pointer items-center justify-center rounded-[50%] bg-white shadow-lg duration-350  hover:bg-primary sm:h-16 sm:w-16 2xl:h-24 2xl:w-24;
}

/* end footer */

/* media query */
@media (min-width: 1024px) {
  .bg-hero {
    @apply relative z-20 bg-center bg-no-repeat bg-cover;
    background-image: url("../img/img-hero.png");
  }
}
/* end media query */
